@model IEnumerable<Trash_Collector.Models.Customer>
@{
    ViewBag.Title = "IndividualIndex";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraPickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspendedStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspectedEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupConfirmation)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StreetAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ZipCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickUpDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExtraPickUpDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SuspendedStart)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SuspectedEnd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickupConfirmation)
    </td>

    <td>
        @Html.ActionLink("Create/Edit Pickup", "CreatePickup", new { id = item.CustomerId }) |
        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
    </td>
</tr>
    }

</table>
